@use 'base';
@import 'base';
@import 'tailwindcss/utilities';

.join_chat_container {
  .info_description_heading {
    @include gradient-text(black, base.$primary-color, base.$bluewishgray);
  }
}

@layer utilities {
  .mid-chatbox {
    width: 100%;
    min-width: 70%;
    border-left-width: 0;
    height: 75%;
  }

  .base-chatroom {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

#chat_float_btn {
  width: 3rem;
  height: 3rem !important;
  font-size: 3rem !important;
}
