@use 'base';

.home_category_product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  height: 35rem;
  width: 25rem;
  max-width: fit fit-content;
  margin: 1rem auto;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;

  // CATEGORY IMAGE CONTAINER
  .category_product_image_container {
    width: 100%;
    margin: 0 auto;
    height: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 0.5rem;
    }
  }

  // CATEGORY TEXT CONTAINER
  .product_category_text_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    // CATEGORY NAME && PRICE
    .category_product_name_price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: 0.5rem auto;

      h4 {
        color: base.$primary-color;
        font-weight: 600;
        font-size: 1.6rem;
      }
    }

    // CATEGORY DESCRIPTION
    .product_category_description {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      font-size: 1.5rem;
      text-overflow: ellipsis;
    }
  }

  // HOME CATEGORY PRODUCT CARD CTA
  .product_category_cta {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    // HOME CATEGORY PRODUCT CARD CTA BUTTON
    .home_product_category_button {
      padding: 0.5rem 2rem;
      width: 100%;
      font-size: 1.5rem;
      text-transform: none;
    }
  }
}
