@use 'base';

.navbar {

  width: 100%;
  margin: 0px;
  box-shadow: 0px 0px 20px 0px base.$primary-color;
  position: relative;
  z-index: 999;
  .navbar_logoContainerNavbar-menuList {
    position: fixed;
    top: 0;
    gap: 3rem;
    background-color: base.$primary-color;
    padding: 15px 20px;
    width: 100%;
    top: 0;
  }
  .navbar_logoContainer img {
    width: 12rem;
  }
  .btn-search2 {
    border: 1px solid white;
  }
  .menuIcon {
    display: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li a {
    color: white;
    font-size: 1.6rem;
  }
  .navbar__authBtn {
    gap: 30px;
    p {
      color: white;
    }
    .navBtn {
      background-color: transparent;
      color: white;
      padding: 0.5rem 4rem;
      border: 1px solid white;
      border-radius: 2rem;
      transition: all 0.6s;
    }
    .navBtn:hover {
      background-color: white;
      color: base.$primary-color;
    }
  }
  .profileIcon {
    width: 3rem;
  }
  .navbar-profileMenu ul {
    background-color: base.$primary-color;
    list-style: none;
    text-align: center;
    width: 100%;
  }
  .navbar__dropdown {
    position: absolute;
    top: 7.5rem;
    transform: translateY(0%);
    right: 0%;
    color: white;
    width: 100%;
    background-color: base.$primary-color;
    padding-left: 3rem;
    transition: all 0.8s;
    li {
      font-size: 1.3rem;
      padding: 1.2rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.116);
      transition: all 0.4s;
    }
  }
  .rm {
    right: 0;
    transform: translateY(-200%);
    display: block;
  }
  .navbar-profileMenu a {
    color: white;
    font-weight: 400;
    display: block;
    font-size: 2rem;
    text-align: center !important;
    font-family: 'poppins', sans-serif;
    padding: 15px 90px 15px 45px;
  }
  #navbar-Psubmenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 7rem;
    visibility: hidden;
    z-index: 1;
  }
  li:hover ul#navbar-Psubmenu {
    opacity: 1;
    top: 5rem;
    visibility: visible;
  }
  #navbar-Psubmenu li {
    width: 100%;
  }
  #navbar-Psubmenu a:hover {
    background-color: white;
    color: black;
  }
  #navbar-Psubmenu a {
    background-color: base.$primary-color;
    color: white;
  }
  .navbar-profileMenu ul li a {
    color: white;
    font-size: 1.7rem;
  }
  .searchbtnLogoProfileText {
    display: flex;
    align-items: center;
  }

  .navbar__profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    color: base.$primary-color;
  }
  .navbar__profileView {
    right: 6rem;
    top: 6.5rem;
    background-color: base.$primary-color;
    color: white;
    position: absolute;
    transform: translateY(-200%);
    z-index: 9;
    transition: all 0.5s ease-in-out;
    p {
      padding: 0.9rem 2rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.17);
      cursor: pointer;
    }
  }
  .visible {
    opacity: 1;
    z-index: 9;
    transform: translateY(0%);
  }
}

@media (max-width: 912px) {
  .navbar_logoContainerNavbar-menuList {
    gap: 0rem !important;
  }
  .navbar_logoContainer {
    width: 9rem;
  }
  .navbar ul li a {
    font-size: 1rem;
  }
  .navbar .navbar__authBtn .navBtn {
    padding: 0.3rem 2rem;
  }
}
@media (max-width: 860px) {

  .navbar {
    padding: 0.6rem 0rem;

    .search_container {
      display: none;
    }
  }
  .navbar__dropdown {
    display: block;
  }
  .navbar_logoContainerNavbar-menuList {
    justify-content: space-between !important;
    gap: 0;
  }
  .navbar_logoContainer img {
    width: 10rem !important;
  }
  .navbar-allMenuPro,
  .navbar__authBtn,
  .navbar-menuList,
  .navbar input.buttonSearch,
  .searchbtnLogo {
    display: none !important;
  }
  .menuIcon {
    display: block !important;
    border: 1px solid rgba(255, 255, 255, 0.174);
    padding: 0rem 0.9rem;
    border-radius: 0.5rem;
  }
}
.active {
  border-bottom: 2px solid white;
}
.active_notification {
  border-bottom: 2px solid base.$primary-color;
}
.subTitlesNotify {
  button {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    &:hover {
      cursor: pointer;
    }
    font-size: 1.3rem;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.hover\:animate-wiggle:hover {
  animation: wiggle 0.3s ease-in-out infinite;
}
.notice {
  .fb-accordion .fb-accordion-title:focus {
    outline: none;
    box-shadow: none;
  }
  svg {
    display: none;
  }
}
