@use 'base';

.order_details_container {
  display: flex;
  gap: 2rem;

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  .order_details {
    display: flex;
    gap: 1rem;

    p {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}

.shopping_details_cta {
  a:hover {
    transform: scale(1.02);
  }
}

@layer utilities {
  .multiple-checkout-information-mid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    width: 100%;

    h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    p {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .mutliple-checkout-base {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
}