@use 'base';

.product_images_container {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);

  .product_images_small {
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

#product_add_wishlist {
  height: 4rem !important;
  &:hover {
    transform: scale(1.02);
  }
}
